*~*
*.model
*.csv
*.txt
temp/*
*.json
*log.txt
*.test*
tokens.py
__pycache__/*
venv/*
venv27/*
*.pyc
*.ipynb_checkpoints
tools/*
doc/*
models/*
*glds00g.asc
notebooks/*.pdf
*.eps
*.ps
*.gz
*.log
*.aux

draft/*to.pdf
draft/sig*.pdf
